table {
  width: 100%;
}

td, th {
  width: 25%;
}
.mat-form-field{
  width: 200px;
  font-size: 14px;
}
.mat-table{
  width: 1150px;
}

// th {
//   border: 1px solid black;
// }

// th {
//   border: 1px solid black;
// }

table {
  width: 100%;
}

