<div class="car-cotainer">
  <div class="category__conatainer">
    <nav mat-tab-nav-bar [backgroundColor]="background">
      <a mat-tab-link *ngFor="let category of carsCategories"
         (click)="activeLink = category; takeCarsByCategory(category)"
         [active]="activeLink == category"> {{category | titlecase}}
      </a>
    </nav>
    <mat-slide-toggle>View By Category</mat-slide-toggle>
   </div>
</div>

<div class="container__info">
  <ul>
    <li *ngFor="let car of carsByCategory">
      <div class="car__info">
        <span class="brand">Brand: {{car.brand}}</span> 
        <span class="model">Model: {{car.model}}</span> 
      </div>
     
      <button class="car__button" (click)="selectCar(car)" ><mat-icon>arrow_forward</mat-icon>
      <p>Detail</p>
      </button>
    </li>
  </ul>
  <div class="car__img">
    <img *ngIf="selectedCar != null" [src]="selectedCar.image" [alt]="selectedCar.model">
  </div>
    
  

  <div class="detail__info" *ngIf="selectedCar != null">
    <span>Brand: {{selectedCar.brand}}</span> 
    <span>Model: {{selectedCar.model}}</span>
    <span>Class: {{selectedCar.class}}</span>
    <span>Year: {{selectedCar.year}}</span>
    <span> Color: {{selectedCar.color}}</span>
  </div>
</div>


