<div class="car-cotainer">
  <div class="category__conatainer">
    <mat-tab-group (selectedTabChange)="tabChange($event)">
      <mat-tab  [label]="category | titlecase" *ngFor="let category of carsCategories">
        <mat-selection-list #cars [multiple]="false">
          <mat-list-option  *ngFor="let car of takeCarsByCategory(category); let i = index" [selected]="car&&i==0" (click)="selectCar(car)">
            <span class="model"><b>{{car.model}}</b></span>
            <span class="brand">{{car.brand}}</span>
          </mat-list-option>
        </mat-selection-list>
        <div class="container__info">
          <div class="car__img" *ngIf="selectedCar">
            <img *ngIf="selectedCar.image" [src]="selectedCar.image" [alt]="selectedCar.model">
            <img *ngIf="!selectedCar.image" src="../../../assets/images/defoult.jpg" [alt]="selectedCar.model">
          </div>
        
        
          <div class="detail__info" *ngIf="selectedCar">
            <span><h3>{{selectedCar.model}}</h3></span>
            <span><h4>Dealers: <b>{{selectedCar.brand}}</b></h4></span>
            <span><h4>Class: <b>{{selectedCar.class |titlecase}}</b></h4></span>
            <span><h4>Year: <b>{{selectedCar.year}}</b></h4></span>
            <span><h4>Color: <b>{{selectedCar.color}}</b></h4></span>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

  
