<div class="all-car-cotainer">
  <div class="all-car__items">
    <input type="text" placeholder="Filter">
    <app-slide-toggle></app-slide-toggle>
  </div>
</div>  

  <div class="all-car-list__container">
      <div *ngFor="let carListItem of carListItems | slice:0:8">
        <app-md-car-card [md-car-item]="carListItem"></app-md-car-card>
      </div>
  </div>

 
    <section class="button-container">
      <div class="example-button-row">
        <button mat-raised-button color="accent">Load More</button>
      </div>
    </section> 


