.mycar__conatiner-column{
  width: 20vw;
  margin: 0 auto;
}
.mycar__item{
  height: 25px;
  border-bottom: 3px solid gray;
  padding-bottom: 10px;
}
.mycar__text{
 margin-top: 15px;
 font-size: 12px;
}