<div class="mycar__conatiner-column">
  <div class="mycar__item">
    <h4>My cars</h4>
  </div>
  <mat-spinner *ngIf="isLoadingCar" class="loading"></mat-spinner>
  <mat-selection-list [multiple]="false" *ngIf="!isLoadingCar">
    <mat-list-option *ngFor="let car of newCars">
      <span class="name"><b>{{car.model}}</b></span>
      <div class="info">
        <span class="country">{{getBrandName(car.brand)}}</span>
        <span class="registration">{{car.registration | date:'d/M/YYYY' }}</span>
      </div>
    </mat-list-option>
  </mat-selection-list>

  <div *ngIf="newCars.length === 0 && !isLoadingCar" class="mycar__text">
    <p>You havent added any cars yet</p>
  </div>
</div>