.dealers__conatainer{
  width: 1222px;
  height: 100vh;
  display: flex;
  flex-direction: row;
justify-content: center;

}



.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}


