.dealers__conatiner-column{
width: 20vw;
margin: 0 auto;

}
.dealers__item{
  // width: 250px;
  height: 25px;
  border-bottom: 3px solid gray;
  padding-bottom: 10px;
}
.dealers__text{
 margin-top: 15px;
 font-size: 12px;
}