<div class="car-form-container">
  <h1 mat-dialog-title>
    <strong>{{action ? '' : 'Add Cars'}}</strong>
  </h1>
  <div class="mat-dialog-content">
    <form [formGroup]="myForm">
      <mat-form-field>
        <mat-label>*Model</mat-label>
        <input matInput type="text" formControlName="model" name="model">
        <mat-error *ngIf="myForm.get('model').hasError('required') &&
                            myForm.get('model').touched">
          Model is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>*Dealer</mat-label>
        <input type="text" matInput #dealer formControlName="dealer" [matAutocomplete]="auto">
        <mat-error *ngIf="myForm.get('dealer').hasError('required') && 
                            myForm.get('dealer').touched">
          Dealer is required
        </mat-error>
        <mat-hint *ngIf="showError">
          <div>You have to use dealer wich already exist in dealers</div>
        </mat-hint>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectDealer($event)">
          <mat-option [value]="null" seleced disabled>
            CHOOSE A DEALER
          </mat-option>
          <mat-option *ngFor="let dealer of dealers" [value]="dealer">
            {{dealer.id}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Class</mat-label>
        <input matInput type="text" formControlName="class">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput type="text" formControlName="year">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput type="text" formControlName="color">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Site</mat-label>
        <input matInput type="text" formControlName="wikilink">
        <mat-error *ngIf="myForm.get('wikilink').hasError('pattern') && 
          myForm.get('wikilink').touched">
          Enter the correct website address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Image</mat-label>
        <div>
          <mat-toolbar>
            <!-- Display files names -->
            <input matInput readonly formControlName="image" />

            <!-- Browse Button -->
            <button mat-flat-button color="primary">
              Browse File
            </button>
          </mat-toolbar>

          <!-- Fetch selected filed on change -->
          <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
            multiple="multiple" accept="image/*" />
        </div>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button class="cancel-btn" (click)="onClose()">Cancel</button>
    <button mat-button [disabled]="showError || myForm.invalid" (click)="onSeve()">Save</button>
  </div>
</div>