.example-card {
  max-width: 12vw;
  
  margin: 40px 10px 10px 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.btn-like{
  color:purple;
}
.btn-details{
  color: gold;
}
.card-title{
  font-size: 18px;
  
}
.card-subtitle{
  font-size: 14px;
}
.card-icon{
  color: red;
}
.card-img{
 width: 175px;
 height: 100px;
}
