<mat-card [ngClass]="cardStyleSize" >
  <mat-card-header>
    <mat-card-title [ngClass]="cardStyleTitle">{{carItem .model}}</mat-card-title>
    <mat-card-subtitle [ngClass]="cardStyleSubtitle">{{carItem .brand}}</mat-card-subtitle>
    <mat-icon *ngIf="isCardLg" aria-label="Liked icon">favorite</mat-icon>
  </mat-card-header>
  <img mat-card-image src="{{carItem .image}}" alt="{{carItem.brand}}">
  <div *ngIf="isCardLg">
    <button class="btn-like" mat-button >Like</button>
    <button class="btn-details" mat-button>Details</button> 
  </div>
</mat-card>

