.mat-card  {
  width: 170px;
  margin-top: 10px;
}


.example-header-image {
  background-size: cover;
}
// // .mat-card-header{
// //   margin: 0;
// //   width: 100%;
// // }
// .mat-card-title {
//   font-size: 12px;
// }
// .mat-card-subtitl{
//   font-size: 10px;
// }
.mat-icon{
// display: none;
}
// .mat-card-image{
// width: 100%;
// }

.mat-card-header {
  justify-content: space-between;
  margin-left: -16px;
}
button{
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
}
.btn-like{
  color: gold;
}
.btn-details{
  color: purple;
}