.menu__item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.menu__link{
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4.7vw;
  margin: 0 auto;
}

.line-visible{
  width: 3px;
  height: 40px;
  background-color: #fff;
}

.line-unvisible{
  width: 3px;
  visibility: hidden;
}