.like__conatiner-column{
  width: 20vw;
  background-color: pink;

}
.like__item{
  height: 25px;
  border-bottom: 3px solid gray;
  padding-bottom: 10px;
}

.card__container{
  max-width: 20vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8px;
  justify-content: space-between;
  background-color: blue;

}

