.like__conatiner-column{
  width: 20vw;
  margin: 0 auto;
 

}
.like__item{
  height: 25px;
  border-bottom: 3px solid gray;
  padding-bottom: 10px;
}

.card__container{
  max-width: 20vw;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;

}
.card__left{
  margin-right: 15px;
  
}