.cars__conatainer{
  width: 100vw;
  height: 100vh;
}
.cars__item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 0px 40px;
  align-items: center; 
}
.cars__item-rigth{
  width: 20vw; 
}
