.home__conatainer{
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 10px 10px 0px 40px;
}
section {
  display: table;
}
.example-button-row {
  display: table-cell;
  width: 360px;
}

.example-button-row .mat-button-base {
  margin: 8px 20px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
