<div class="dealers__conatiner-column">
  <div class="dealers__item">
    <h4>My Dealers</h4>
  </div>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let dealer of newDealers">
      <span class="name"><b>{{dealer.name}}</b></span>
      <div class="info">
        <span class="country">{{dealer.country}}</span>
        <span class="registration">{{dealer.registration | date:'d/M/YYYY' }}</span>
      </div>
      
      <div *ngIf="dealer.length === 0" class="dealers__text">
        <p>You havent added any dealrs yet</p>
      </div>
    </mat-list-option>
  </mat-selection-list>